@use "../../../../scss/variables" as *;
.body {
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    background: $secondary-color;
    border-bottom: 1px solid $border-color;
  }
  &__container {
    width: 1340px;

    margin: 0 auto;
  }
  &__chats {
    width: 100%;
    &-sendername {
      text-align: right;
    }
    &-recipientname {
    }
    &-message-recipient {
      margin-right: auto;
      width: fit-content;
      padding: 10px 20px;
      border-radius: 20px 20px 20px 0px;
      background: #25252d;
    }
    &-message-sender {
      margin-left: auto;
      width: fit-content;
      padding: 10px 20px;
      border-radius: 20px 20px 0px 20px;
      background: #2a2a82;
    }
  }
}
