@use "../../scss/variables" as *;
.aside {
  width: 460px;
  background: $secondary-color;
  border-right: 1px solid $border-color;
  &__header {
    height: 100px;
    border-bottom: 1px solid $border-color;
    &-container {
      padding: 20px;
      display: flex;
      align-items: center;
    }
    &-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    &-user {
      margin-left: 20px;
      &-name {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      &-status {
        font-size: 14px;
        color: $main-color;
      }
    }
    &-settings {
      cursor: pointer;
      margin-left: auto;
    }
  }
}
