@use "../../scss/variables" as *;

.settings {
  display: flex;
  height: 100vh;
  width: 100%;
  &__title {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 500;
    color: #e7e7f9;
  }
  &__container {
    width: 650px;
    margin-left: 60px;
  }
  &__user {
    display: flex;
    margin-top: 20px;
    border-radius: 50px;
    width: 650px;
    height: 200px;
    background: $secondary-color;
    &-avatar {
      position: relative;
      &-img {
        height: 200px;
        width: 200px;
        border-radius: 50px;
      }
    }
    &-upload {
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50px;

      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        border: 3px solid #2443bd;
        .settings__user-upload-img {
          display: block;
        }
      }
      &-img {
        display: none;
        width: 100px;
        height: 100px;
      }
      &-input {
        display: none;
      }
    }
    &-info {
      margin-top: 20px;
      margin-left: 20px;
      &-name {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #e7e7f9;
      }
      &-bio {
        font-size: 18px;
        color: #a3a3b6;
        width: 400px;
        word-wrap: break-word;
      }
    }
  }
  &__edit {
    &-container {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
    }
    &-info {
      &-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #e7e7f9;
      }
    }
    &-password {
      &-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #e7e7f9;
      }
    }

    &-label {
      display: block;
      font-size: 16px;
      color: #e7e7f9;
      margin-bottom: 5px;
    }
    &-input {
      display: block;
      width: 270px;
      height: 45px;
      background: #28282c;
      border-radius: 10px;
      padding: 15px 20px;
      margin-bottom: 10px;
    }
    &-line {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &-button {
      cursor: pointer;
      margin-top: 20px;
      display: block;
      width: 270px;
      background: #2443bd;
      border-radius: 10px;
      height: 45px;
      &:hover {
        background: #1937ad;
      }
      &:active {
        background: #1230a8;
      }

      &-logout {
        background: #c91e1e;
        cursor: pointer;
        margin-top: 20px;
        display: block;
        width: 270px;
        border-radius: 10px;
        height: 45px;
        &:hover {
          background: #c90000;
        }
        &:active {
          background: #d40000;
        }
      }
    }
  }
}
