@use "../../scss/variables" as *;
.contact {
  cursor: pointer;
  height: 100px;

  &__container {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
  &__user {
    margin-left: 20px;
    &-name {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    &-message {
      font-size: 16px;
      font-weight: 500;

      color: #b3b3b3;
    }
  }

  &:hover {
    background: #202024;
  }
}
